<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ " css/main.css" | relURL }}">

    <!-- JavaScript -->
    <script src="{{ " js/main.js" | relURL }}" defer></script>

    {{ block "head" . }}{{ end }}
</head>

<body class="min-h-screen flex flex-col bg-gray-50 {{ if .IsHome }}is-home{{ end }}">
    {{ partial "header.html" . }}

    <main class="flex-grow">
        {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}
</body>

</html>